*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
.*.cfg
bin/
build/
data/
develop/bin/
develop/include/
develop/lib/
develop/lib64
develop/pyvenv.cfg
develop/sources/
src/
develop-eggs/
downloads/
eggs/
fake-eggs/
parts/
dist/
var/